/* Style Sheet for GifTastic */

html,
body,
header, {
    
    height: 100%;

}

.container  {

	font-family: 'Playfair Display', serif;
}

.holder {

	font-family: 'Playfair Display', serif;

}

#submit {

	font-family: 'Playfair Display', serif;
}

.item {
	float: left;
	padding-left:5px;
	margin-left: 100px;
	
}

.gif {
	height: 300px;
	width: 300px;
}